/* homepage.module.css */
.container {
    display: flex;
    flex-direction: column;
  }
  
  .content {
    display: flex;
    width: 100%;
  }
  
  .cardList {
    flex: 4;
  }
  
  .menu {
    flex: 1;
  }